<!-- <script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [370, 340]
  Dashing.numColumns = 5
});
</script> -->
<script type='text/javascript'>
$(function() {
Dashing.widget_base_dimensions = [370, 340]
Dashing.numColumns = 5 
Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":2,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":5,"row":3,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":2,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":2,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1}]')
});
</script>


<% content_for :title do %>1080p dashboard<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="memory4" data-view="Meter" data-title="Memory Usage App1" data-min="0" data-max="100" style="background-color:#1695A3;"></div>
    </li>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="memory3" data-view="Meter" data-title="Memory Usage App2" data-min="0" data-max="100" style="background-color:#EB7F00;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="memory2" data-view="Meter" data-title="Memory Usage App3" data-min="0" data-max="100" style="background-color:#88A825;"></div>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="memory5" data-view="Meter" data-title="Memory Usage App4" data-min="0" data-max="100" style="background-color:#B64926;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="memory1" data-view="Meter" data-title="Memory Usage DBM" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="mychart" data-view="GooglePie" data-is_3d="true" data-legend_position="labeled" data-colors="#225378, #1695A3, #96bf48, #9c4274" data-title="LAP Funnel"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="twonumber" data-id="apdex" data-view="Number" data-title="Apdex Score" style="background-color:#96bf48;"></div>
      <i class="icon-clock icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pageload" data-view="Number" data-title="Page Load Time"></div>
      <i class="icon-clock icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pullrequests" data-view="List" data-unordered="true" data-title="Open Pull Requests"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div class="purple" data-id="page_views" data-view="Number" data-title="Page Views Today"></div>
      <i class="icon-clock icon-background"></i>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="pivotal" data-view="Velocity" data-graphtype="bar" data-title="ZOZI.com Pivotal Velocity" style="background-color: #484F57"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="businesscat" data-view="BigImage"></div>
    </li>
  </ul>
</div>